
@font-face {
    font-family: Circle;
    src: url("~@/assets/fonts/Circe-Regular.woff") format("woff");
}
@font-face {
    font-family: 'Circle-light';
    src: url("~@/assets/fonts/Circe-Light.woff") format("woff");
}
@font-face {
    font-family: 'Circle-bold';
    src: url("~@/assets/fonts/Circe-Bold.woff") format("woff");
}